# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.db
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.db-shm
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.db-wal
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.opendb
TwittFaceProject/.vs/TwittFaceProject/v16/.suo
TwittFaceProject/Debug/TwittFaceProject.exe.recipe
TwittFaceProject/Debug/TwittFaceProject.ilk
TwittFaceProject/Debug/TwittFaceProject.log
TwittFaceProject/Debug/TwittFaceProject.pdb
TwittFaceProject/Debug/TwittFaceProject.tlog/CL.command.1.tlog
TwittFaceProject/Debug/TwittFaceProject.tlog/CL.read.1.tlog
TwittFaceProject/Debug/TwittFaceProject.tlog/CL.write.1.tlog
TwittFaceProject/Debug/TwittFaceProject.tlog/link.command.1.tlog
TwittFaceProject/Debug/TwittFaceProject.tlog/link.read.1.tlog
TwittFaceProject/Debug/TwittFaceProject.tlog/link.write.1.tlog
TwittFaceProject/Debug/TwittFaceProject.tlog/TwittFaceProject.lastbuildstate
TwittFaceProject/Debug/TwittFaceProject.vcxproj.FileListAbsolute.txt
TwittFaceProject/Debug/vc142.idb
TwittFaceProject/Debug/vc142.pdb
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/1771a0442c9b4a17/MAIN.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/e31dee15d6e854aa/FRIEND.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/9d7d69eea0b0a60f/FRIEND.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/67f476888ebb3387/FANSPAGE.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/c78ea9e48e623ba4/STATUS.ipch
*.ipch
*.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/c78ea9e48e623ba4/STATUS.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/67f476888ebb3387/FANSPAGE.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/c78ea9e48e623ba4/STATUS.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/67f476888ebb3387/FANSPAGE.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/c78ea9e48e623ba4/STATUS.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/67f476888ebb3387/FANSPAGE.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/67f476888ebb3387/FANSPAGE.ipch
TwittFaceProject/.vs/TwittFaceProject/v16/ipch/AutoPCH/67f476888ebb3387/FANSPAGE.ipch
