# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.db
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.db-shm
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.db-wal
TwittFaceProject/.vs/TwittFaceProject/v16/Browse.VC.opendb
TwittFaceProject/TwittFaceProject.vcxproj
TwittFaceProject/TwittFaceProject.vcxproj.filters
TwittFaceProject/TwittFaceProject.vcxproj.user
